@charset "utf-8";

body {
    background-color: #151515;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

p {
    color: #E1CE7A;
    font-size: 160%;
    text-shadow: 2px 2px 3px black;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    text-indent: 20px;
}

h1 {
    color: #EC7357;
    text-align: center;
    
}
nav {
    color: brown;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    margin-left: 30px;
    
}
a {
    text-decoration: none;
    background-color: antiquewhite;
    padding: 7px;
    border-radius: 10px;
    margin-right: 35px;
    text-shadow: 0px 0px 0px black;
    transition-duration: 0.00005s;
}

a:hover {
    text-decoration: underline;
    transition-duration: 0.3s;
    background-color: #bda154;
}
a:visited{
    color: blue;
}
main {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    min-width: 200px;
}
.especial{
    display: inline-block;
    margin: 10px;
    text-align: center;
}
h2 {
    color: #EC7357;
    text-align: center;
}
