@charset "utf-8";

body {
    background-color: #191512;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

p {
    color: #CCA358;
    font-size: larger;
    text-shadow: 2px 2px 0px black;
    line-height: 30px;
    text-align: left;
    text-indent: 20px;
}

h1 {
    color: #EC7357;
    text-align: center;
    padding-top: 18px;
    
}
nav {
    display: flex;
    justify-content: space-between;
    color: brown;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    
    
}
a {
    margin-bottom: 10px;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 7px;
    border-radius: 10px;
    text-shadow: 0px 0px 0px black;
    transition-duration: 0.00005s;
}

a:hover {
    text-decoration: underline;
    transition-duration: 0.3s;
    background-color: #b3a378;
}
a:visited{
    color: blue;
}
main {
    padding-right: 30px;
    padding-left: 20px;
    text-align: center;
    color: #EC7357;
    margin: -30px 10px ;
    background-color: #4B4D3F;

}

.especial{
    display: inline-block;
    margin: 10px;
    text-align: center;
}
h2 {
    color: #EC7357;
    text-align: center;
}
